/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* .active {
    background-color: #0058fe !important;
} */

.ngx-datatable.material {
    /* overflow: scroll; */
    box-shadow: none;
}

.page-count {
    display: none;
}

.pager {
    float: left;
}

.chartrow {
    height: 100% !important;
    max-height: 10px !important;
}

.menuFilter {
    float: right;
    margin-top: -4%;
}

.errorField {
    color: red;
}

.cdk-overlay-pane {
    max-height: 700px;
    overflow: scroll;
}

/**
 * ==============================================
 * Dot Revolution
 * ==============================================
 */
 .snippet {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* opacity: 0.2; */
    z-index: 1000;
 }
 .dot-revolution {
    position: fixed;
    z-index: 999;
    height: 10px;
    width: 10px;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 5px;
    background-color: #090909;
    color: #090909;
  }
  .dot-revolution::before, .dot-revolution::after {
    content: "";
    display: inline-block;
    position: absolute;
  }
  .dot-revolution::before {
    left: 0;
    top: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #090909;
    color: #090909;
    transform-origin: 5px 20px;
    animation: dot-revolution 1.4s linear infinite;
  }
  .dot-revolution::after {
    left: 0;
    top: -30px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #090909;
    color: #090909;
    transform-origin: 5px 35px;
    animation: dot-revolution 1s linear infinite;
  }
  
  @keyframes dot-revolution {
    0% {
      transform: rotateZ(0deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotateZ(360deg) translate3d(0, 0, 0);
    }
  }