.mat-dialog-container {
    padding: 0px !important;
}

.datatable-body-row.active {
    background-color: transparent !important;
}

.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    padding-left: 3%;
}

.snippet {
    margin-top: 25%;
    height:200px !important;
    max-width: 100%;
    justify-content: center;
    position: relative;
    z-index: 1000;
  }